@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

a {
  padding-top: 1rem;
}
body {
  background-color: azure;
  color: black;
  font-family: Lexend;
}
header {
  text-align: center;
  padding-top: 2rem;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 30rem;
  border: solid, black;
}
h1 {
  font-size: x-large;
  font-weight: bold;
}
h2 {
  font-size: large;
  font-weight: bold;
}
h3 {
  font-size: medium;
  font-weight: bold;
}
.rotate {
  rotate: 90deg;
  width: 19.5rem;
}
video {
  width: 40rem;
}
